* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
} 

body {
    overflow-x: hidden;
    background-color: black;
    height: 1000px;
}
body {
    width: 100%;
    height: 100vh;
    background: url("../images/Pink-Stripes.png") center no-repeat fixed;
    background-size: cover;
}
/**
.jumbotron {
    background: url("../images/DetectivePikachuBordered.jpg") top center;
    background-size: cover;
    margin-top: 1em;
    padding-top: 10em;
    padding-bottom: 10em;
    height: 60em;
}
**/
/**
#jumbotron-intro {
    font-size: 24px;
    color: pink;
}
**/
#Emmachu-header {
    font-size: 24px;
    color: rebeccapurple;
}

#Nav-links {
    font-size: 16px;
    color: white;
}

#Nav-links3 {
    font-size: 16px;
    color: white;
    padding-left: 63em;
}
#navbarDropdown {
    font-size: 16px;
    color: white;
}


#first-container {
    color: white;
}
/**
#container1-images {
    background: url("../images/DetectivePikachuBordered.jpg");
    background-size: cover;
    margin-top: 1em;
    padding-top: 10em;
    padding-bottom: 10em;
    height: 60em;
    
}
**/
#container1-header {
    color: palevioletred;
    font-size: 36px;
}

#container1-introduction {
    font-size: 24px;
}

#About-me-navigations {
    padding-top: 1em;
    font-size: 30px;
    
}

#About-me-active {
    font-size: 24x;
}