* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
    overflow-x: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    background: url("assets/main/Pink-Stripes.png") center no-repeat fixed;
    background-size: cover;
}

.navbar-brand {
    padding-right: 2rem;
}
#nav-link {
    font-size: 24px;
    color: white;
}

#Nav-links3 {
    font-size: 24px;
    color: white;
}
#navbarDropdown {
    font-size: 24px;
    color: white;
}

#first-container {
    color: lightslategray;
    font: solid;
}

.carousel-inner {
    height: 70rem;   
}

#container1-header {
    color: palevioletred;
    font-size: 36px;
}

#container1-introduction {
    font-size: 24px;
}

#About-me-navigations {
    padding-top: 1em;
    font-size: 30px;
    
}

#About-me-active {
    font-size: 24x;
}

#line {
    color: palevioletred;  
}

.wrapper h1 {
    font-weight: lighter;
    font-size: 80px;
    color: palevioletred;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 0;
}

.media {
    position: absolute;
    display: inline-block;
    
}
.media li {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    color: palevioletred;
    transition: .5s;
}

li:hover {
    color: #292929;
    transition: .5s;
}

.dropdown-menu {
    color: black;
}

@media screen and (max-width: 768px) {

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
    #container1-images {
        width: 100%;
    }
    #container1-intro {
        width: 100%;
    }

    #container1-introduction {
        padding-top: 2rem;
    }
    
    .wrapper {
        width: 100%;
    }   
    .carousel-inner {
        width: 100%;
        height: 100%;
        padding-bottom: 3rem;
    }
    .media {
       padding-left: 3rem;
   }
    
   .navbar-toggler{
       background-color: black'
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* Extra large devices (large desktops) */}

