* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
} 

body {
    overflow-x: hidden;
    background-color: black;
    height: 1000px;
}
body {
    width: 100%;
    height: 100vh;
    background: url("../assets/main/Pink-Stripes.png") center no-repeat fixed;
    background-size: cover;
}

#Emmachu-header {
    font-size: 24px;
    color: rebeccapurple;
}

#Nav-links {
    font-size: 16px;
    color: white;
}

#Nav-links3 {
    font-size: 16px;
    color: white;
    padding-left: 63em;
}
#navbarDropdown {
    font-size: 16px;
    color: white;
}
 #UmbrellaEmma {
     height: 60em;
 }