* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
} 

body {
    overflow-x: hidden;
    background-color: black;
    height: 1000px;
}
body {
    width: 100%;
    height: 100vh;
    background: url("../_assets/main/Pink-Stripes.png") center no-repeat fixed;
    background-size: cover;
}

#Emmachu-header {
    font-size: 24px;
    color: rebeccapurple;
}

#Nav-links {
    font-size: 16px;
    color: white;
}

#Nav-links3 {
    font-size: 16px;
    color: white;
    padding-left: 63em;
}
#navbarDropdown {
    font-size: 16px;
    color: white;
}

#ContactMeForm {
    padding-left: 2em;
    padding-right: 2em;
}

#jumbotron2 {
    background: none;
    height: 20em;
    width: 110em;
    
}

#jumbotron-h1 {
    font-size: 64px;
}
#jumbotron-p {
    font-size: 40px;
}