* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body{
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
    overflow-x: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    background: url("../assets/main/Pink-Stripes.png") center no-repeat fixed;
    background-size: cover;
}

#Emmachu-header {
    font-size: 24px;
    color: rebeccapurple;
}

#nav-link {
    font-size: 24px;
    color: white;
}
  
#Nav-links3 {
    font-size: 24px;
    color: white;
}

#navbarDropdown {
    font-size: 24px;
    color: white;
    padding-left: 2rem;
}

.navbar-light .navbar-toggler {
    border: none;
}

#first-container {
    color: white;
}

#container1-header {
    color: pink;
    font-size: 36px;
}

#container1-introduction {
    font-size: 24px;
}

#About-me-navigations {
    padding-top: 1em;
    font-size: 30px;
    
}

#About-me-active {
    font-size: 24x;
}

#AboutMeHeader h1{
    color: white;
    font-size: 35px;
}

#AboutMeBody h2{
    color: blueviolet;
    font-size: 24px;
}
#AboutMeBody p{
    color: green;
    font-size: 20px;
}

@media screen and (max-width: 768px) {

    /* Extra small devices (portrait phones, less than 576px) */
    @media screen and (max-width: 575.98px) { 
        #AboutMeHeader, #AboutMeBody {
            text-align: center;
        }
        #AboutMeBody h2{
            padding-top: 2rem;
        }
        #AboutMeBody p {
            padding-top: 1rem;
        }
    }
    
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
    
    }
    
    /*  Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {
    
    }
    
    /* Large devices (desktops, less than 1200px)*/
    @media (max-width: 1199.98px) {
    
    }
    
    /* Extra large devices (large desktops) */}
    
    